p{  
    color: #ff0000;
}

#div1{

       background-color: silver;
       width: 400px;
       height: 300px;
       margin: auto;
       border-radius: 30px;
       padding-left: 50px;
       color: blue;
}

h6{
      font-size: 50px;
      color: tomato 


}




